#
# Define the characteristics of a radio
#
config LASTLINK_RADIO_$(RADIO_NUM)_ENABLED
    bool "Enable radio $(RADIO_NUM)"
    default $(DEFAULT_RADIO_ENABLE)
 
choice "LASTLINK_RADIO_$(RADIO_NUM)"
    depends on LASTLINK_RADIO_$(RADIO_NUM)_ENABLED

    prompt "Radio device selection"
    default LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI
    help
       Selects the connection used for radio $(RADIO_NUM)

    config LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI
        bool "Select SX127x Family (SPI)"

    config LASTLINK_RADIO_$(RADIO_NUM)_SX126x_SPI
        bool "Select SX126x Family (SPI)"

endchoice

menu "Radio $(RADIO_NUM) SPI configuration"
    depends on LASTLINK_RADIO_$(RADIO_NUM)_SX126x_SPI || LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI

    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO0
        int "DIO0 GPIO line for RADIO $(RADIO_NUM)"
        default 26
        range 1 36
        help
            Connection for the DIO0 line used to report transmit and receive interrupts.
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO1
        int "DIO1 GPIO line for RADIO $(RADIO_NUM)"
        default 35
        range 1 36
        help
            Connection for the DIO1 line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO2
        int "DIO2 GPIO line for RADIO $(RADIO_NUM)"
        default 34
        range 1 36
        help
            Connection for the DIO2 line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_SCK
        int "SCK GPIO line for RADIO $(RADIO_NUM)"
        default 5
        range 1 36
        help
            Connection for the SPI Clock line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_MOSI
        int "MOSI GPIO line for RADIO $(RADIO_NUM)"
        default 27
        range 1 36
        help
            Connection for the MOSI line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_MISO
        int "MISO GPIO line for RADIO $(RADIO_NUM)"
        default 19
        range 1 36
        help
            Connection for the MISO line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_SS
        int "SS GPIO line for RADIO $(RADIO_NUM)"
        default 18
        range 1 36
        help
            Connection for the SS (Select) line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_RESET
        int "RESET GPIO line for RADIO $(RADIO_NUM)"
        default 14
        range 1 36
        help
            Connection for the RESET line
endmenu

