menu "LastLink Configuration"
    config LASTLINK_RECEIVE_ONLY_FROM_TABLE
        int "Length of receive-only debug table"
        default 0
        help
            This table will define a list of address from which this node
            will accept packets.  This is used to test a network environment
            where all nodes are close but we want to limit paths to simulate
            a disperse array.  A blank string means no limits.

            The contents of this table is filled from a configuration variable.

    config LASTLINK_WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config LASTLINK_WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config LASTLINK_MAX_STA_CONN
        int "Maximal STA connections"
        default 4
        help
            Max number of the STA connects to AP.

    config LASTLINK_RADIO_SX126x_ENABLED
        bool "Enable SX126x Driver"
        default n

    config LASTLINK_RADIO_SX127x_ENABLED
        bool "Enable SX127x Driver"
        default y

    config LINKLAYER_LED_ACTIVITY_GPIO
        int "Activity (TRANSMIT) led GPIO"
        default 0

    # Currently up to 8 radios
    RADIO_NUM:=1
    DEFAULT_RADIO_ENABLE=y
    source "main/Kconfig.radio"

    DEFAULT_RADIO_ENABLE=n
    RADIO_NUM:=2
    source "main/Kconfig.radio"

    RADIO_NUM:=3
    source "main/Kconfig.radio"

    RADIO_NUM:=4
    source "main/Kconfig.radio"

    RADIO_NUM:=5
    source "main/Kconfig.radio"

    RADIO_NUM:=6
    source "main/Kconfig.radio"

    RADIO_NUM:=7
    source "main/Kconfig.radio"

    RADIO_NUM:=8
    source "main/Kconfig.radio"

    menu "Communication Parameters"
        config LASTLINK_ROUTE_LIFETIME
            int "Route Lifetime in mS"
            default 15000
            help
                This defines the time a route will exist before requiring
                a new RouteRequest to be performed.

        config LASTLINK_MAX_ROUTES
            int "Maximum number of routes in table"
            default 64
            help
                Sets the maximum number of route table entries per device.

        config LASTLINK_ROUTE_REQUEST_TIMEOUT
            int "Route Request Timeout"
            default 5000
            range 5000 30000
            help
                Timeout for waiting for a RouteAnnounce from a RouteRequest.

        config LASTLINK_ROUTE_REQUEST_RETRIES
            int "Route Request Retries"
            default 5
            range 3 10
            help
                Number of retries to receive a RouteAnnounce from RouteRequest

        config LASTLINK_ROUTE_MAX_QUEUED_PACKETS
            int "Route max queued packets"
            default 20
            range 3 100
            help
                The maximum number of packets queuable while waiting for a route.

        config LASTLINK_STREAM_MAX_PACKETS_IN_ASSEMBLY
            int "Maximum packets waiting for assembly"
            default 8
            range 1 16
            help
                The maximum number of packets waiting for out-of-order assembly.

        config LASTLINK_STREAM_MAX_SIMULTANEOUS_CONNECTIONS
            int "Maximum simultaneous connections"
            default 10
            range 1 20
            help
                The maximum number of simultaneous connections to a port.

        config LASTLINK_MAX_PROTOCOL_NUMBER
            int "Maximum packet protocol number"
            default 10
            range 5 250
            help
                The maximum protocol number allowed (starts with 0)
                (0 to 4 are used internally.)

        config LASTLINK_CHANNEL_TABLE
            string "Select channel table"
            default "us902_928"
            help
                Select one of the channel table files

        config LASTLINK_ENABLE_OPPORTUNISTIC_ROUTES
            bool "Create opportunistic routes"
            default false
            help
                When a packet is received, capture a provisional route
                to the SOURCE via the SENDER, marking with invalid
                SEQUENCE and impossibly high METRIC.

    endmenu

    menu "Packet Configuration"
        config LASTLINK_DEBUG_PACKET_RELEASE
            bool "Debug packet release"
            default n
            help
                Adds test code in packet_release to determine if the
                caller is releasing an already-released packet.  If so
                prints message with previous and current releasers
                as well as the packet contents.
        config LASTLINK_NUM_PACKETS
            int "Number of available packets"
            default 10
            help
                This defines the number of packets available.  No additional
                memory is allocated beyond this limit, so if you run out,
                packets will be dropped.

        config LASTLINK_MAX_PACKET_LENGTH
            int "Packet length"
            default 255
            help
                Warning: Hardware in most cases limits this to 255.
                Change with caution...

        config LASTLINK_ADDRESS_LENGTH
            int "Length of an address"
            default 2
            range 1 6
            help
                Number of bytes in Address field.

        config LASTLINK_BROADCAST_ADDRESS
            hex "A Broadcast address"
            default 0xFFFF
            help
                The address used for broadcast to all nodes

        config LASTLINK_NULL_ADDRESS
            hex "A NULL address"
            default 0x0000
            help
                The address used when an address is unspecified.
                Used to mark packets that need to be labeled with
                source, destination and route.

        config LASTLINK_PROTOCOL_LENGTH
            int "Length of Protocol type field"
            default 1
            range 1 4
            help
                Number of bytes in a protocol type field

        config LASTLINK_FLAGS_LENGTH
            int "Length of Flags field"
            default 1
            range 1 4
            help
                Number of bytes in Flags field.

        config LASTLINK_SEQUENCE_NUMBER_LENGTH
            int "Length of a sequence number"
            default 2
            range 1 4
            help
                The length of a sequence number field in the packet.

        config LASTLINK_INTERVAL_LENGTH
            int "Length of a interval number"
            default 2
            range 1 4
            help
                The length of a interval field in the packet.

        config LASTLINK_TTL_LENGTH
            int "Length of a metric field"
            default 1
            range 1 4
            help
                The length of a ttl (time to live) field in the packet.

        config LASTLINK_TTL_DEFAULT
            int "Default TTL value"
            default 64
            range 1 256
            help
                The default value of a ttl (time to live) field in the packet.

        config LASTLINK_METRIC_LENGTH
            int "Length of a metric field"
            default 1
            range 1 4
            help
                The length of a metric field in the packet.

        config LASTLINK_MAX_METRIC
            int "Maximum value of a metric"
            default 64
            range 1 256
            help
                The maximum metric value

        config LASTLINK_BEACON_NAME_LENGTH
           int "Length of name in beacon packet"
           default 16
           range 10 128
           help
               The number of bytes available for a node name in the beacon.

        config LASTLINK_REASON_LENGTH
           int "Length of reason field in RouteError"
           default 16
           range 10 128
           help
               The number of bytes available for a reason in the RouteError.

    endmenu

    menu "Other Configuration"
        config LASTLINK_CONFIG_FILE
            string "Name of config file"
            default "/spiffs/.config"
            help
                Enter the name of the configuation control file

        config SPIFFS_PARTITION_NAME
            string "Name of SPIFFS partition"
            default "storage"
            help
                Enter the name of the spiffs partition as used in the parition table.

    endmenu

    menu "Socket layer"
        config LASTLINK_ENABLE_SOCKET_LAYER
        bool "Select to enable socket manager"
        default true
        help
             Enables primitive datagram streaming sockets between nodes.

        config LASTLINK_NUMBER_OF_SOCKETS
        int "Number of available sockets"
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        default 10
        help
             Sets the maximum number of active listening or connected sockets.

        config LASTLINK_MAX_OUTSTANDING_PINGS
        int "Number of simultaneous pings allowed"
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        default 5
        help
            Defines the table controlling the maximum pings outstanding
            at one time.

        config LASTLINK_STREAM_WINDOW_SIZE
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "Number of packets in input/output windows"
        default 3
        range 1 15
        help
            This value defines the number of packets that may be sent at a time
            while waiting for an acknowledgement.  A large number means fewer
            acks required for a properly operating network, while a smaller
            number means better efficiency if a noisy or marginal network.

        config LASTLINK_STREAM_ACK_DELAY
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "Delay (in mS) between receiving a packet and the automatic ack"
        default 50
        range 5 500
        help
            This value determines how long a stream will wait to acknowledge a
            packet if there is no traffic going back to the sender.  ACKS are
            piggy-backed on all data packets, so they are delayed in case
            a bi-directional data path will be active.

        config LASTLINK_STREAM_TRANSMIT_RETRIES
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "Number of retries"
        default 5
        range 2 10
        help
            The number of times to retry sending the output queue before giving up.

        config LASTLINK_STREAM_TRANSMIT_RETRY_TIME
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "Initial mS between tries"
        default 100
        range 50 2000
        help
            The delay between retries; doubles each retry.

        config LASTLINK_STREAM_TRANSMIT_DELAY
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "How long (in mS) to hold a packet with data before it is sent"
        default 50
        range 5 500
        help
            This value determines how long a packet with fresh data will stay
            in the output queue before it is sent.

        config LASTLINK_STREAM_KEEP_ALIVE_ENABLE
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        bool "Enable keep-alive packets for socket"
        default false
        help
             If set, keep-alive packets will go between socket endpoints
             every <N> seconds determined by KEEP ALIVE timer.

        config LASTLINK_STREAM_KEEP_ALIVE
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        depends on LASTLINK_STREAM_KEEP_ALIVE_ENABLE
        int "Period in seconds between keep-alive packets"
        default 10
        range 10 600

        config LASTLINK_SOCKET_LINGER_TIME
        depends on LASTLINK_ENABLE_SOCKET_LAYER
        int "Time to 'linger' socket after closing"
        default 1000
        range 50 20000
        help
            Timer after socket closes before it is cleaned and reclaimed.

    endmenu

endmenu
