#
# Define the characteristics of a radio
#
config LASTLINK_RADIO_$(RADIO_NUM)_ENABLED
    bool "Enable radio $(RADIO_NUM)"
    depends on LASTLINK_RADIO_SX126x_ENABLED || LASTLINK_RADIO_SX127x_ENABLED
    default $(DEFAULT_RADIO_ENABLE)
 
choice "LASTLINK_RADIO_$(RADIO_NUM)"
    depends on LASTLINK_RADIO_$(RADIO_NUM)_ENABLED
    depends on LASTLINK_RADIO_SX126x_ENABLED || LASTLINK_RADIO_SX127x_ENABLED

    prompt "Radio device selection"
    default LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI
    help
       Selects the connection used for radio $(RADIO_NUM)

    config LASTLINK_RADIO_$(RADIO_NUM)_SX126x_SPI
        bool "Select SX126x Family (SPI)"
        depends on LASTLINK_RADIO_SX126x_ENABLED

    config LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI
        bool "Select SX127x Family (SPI)"
        depends on LASTLINK_RADIO_SX127x_ENABLED

endchoice

menu "Radio $(RADIO_NUM) SPI configuration"
    depends on LASTLINK_RADIO_SX12x_ENABLED || LASTLINK_RADIO_SX127x_ENABLED
    depends on LASTLINK_RADIO_$(RADIO_NUM)_SX126x_SPI || LASTLINK_RADIO_$(RADIO_NUM)_SX127x_SPI

    config LASTLINK_RADIO_$(RADIO_NUM)_SPI_HOST
        int "SPI bus number to use"
        default 2
        range 0 3
        help
            SPI bus number for the radio connection.  2 and 3 are available in
            standard ESP32 radio module.  Only 3 devices per SPI bus, so be
            careful.

    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO0
        int "DIO0 GPIO line for RADIO $(RADIO_NUM)"
        default 26
        range 1 36
        help
            Connection for the DIO0 line used to report transmit and receive interrupts.
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO1
        int "DIO1 GPIO line for RADIO $(RADIO_NUM)"
        default 35
        range 1 36
        help
            Connection for the DIO1 line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_DIO2
        int "DIO2 GPIO line for RADIO $(RADIO_NUM)"
        default 34
        range 1 36
        help
            Connection for the DIO2 line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_SCK
        int "SCK GPIO line for RADIO $(RADIO_NUM)"
        default 5
        range 1 36
        help
            Connection for the SPI Clock line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_MOSI
        int "MOSI GPIO line for RADIO $(RADIO_NUM)"
        default 27
        range 1 36
        help
            Connection for the MOSI line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_MISO
        int "MISO GPIO line for RADIO $(RADIO_NUM)"
        default 19
        range 1 36
        help
            Connection for the MISO line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_SS
        int "SS GPIO line for RADIO $(RADIO_NUM)"
        default 18
        range 1 36
        help
            Connection for the SS (Select) line
 
    config LASTLINK_RADIO_$(RADIO_NUM)_GPIO_RESET
        int "RESET GPIO line for RADIO $(RADIO_NUM)"
        default 14
        range 1 36
        help
            Connection for the RESET line

    config LASTLINK_RADIO_$(RADIO_NUM)_CRYSTAL
        int "Crystal frequency"
        default 32000000
        help
            Crystal frequency

    config LASTLINK_RADIO_$(RADIO_NUM)_CHANNEL
        int "Initial channel"
        default 0
        range 0 71
        help
            Initial channel.  First 64 or narrow band.  Last 8 are wide band.

    config LASTLINK_RADIO_$(RADIO_NUM)_DELAY
        int "Transmit delay (in mS"
        default 0
        range 0 500
        help
            Receive to transmit delay

endmenu

