#
# Define stuff for DHT 11/22 (temp/humidity) sensor.
#
menu "DHT Configuration"

    config DHT_ENABLE
        bool "Enable DHT 11/22 (temp/humidity) sensor)"
        default n

    config DHT_PIN
        depends on DHT_ENABLE
        int "I/O pin"
        default 17
 
endmenu

